<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB-spNgo1kHAm92G_XFpV5P9nhyP7oer9Y</string>
	<key>GCM_SENDER_ID</key>
	<string>746227083454</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.beer7.app</string>
	<key>PROJECT_ID</key>
	<string>beer7-b898d</string>
	<key>STORAGE_BUCKET</key>
	<string>beer7-b898d.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:746227083454:ios:bf9150ff54e5c3d2b416ef</string>
</dict>
</plist>